*{
    padding: 0%;
    margin: 0% ;
    box-sizing: border-box;
}

nav
{
    background: black;
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    z-index: 12;
}

nav .menu
{
    max-width: 90%;
    background: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a
{
    text-decoration: none;
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 600;
}

.menu ul 
{
    display: inline-flex;

}

.menu ul li
{
    list-style: none;
    margin-left: 7px;
}

.menu ul li a
{
     text-decoration: none;
     color: antiquewhite;
     font-size: 1rem;
     font-weight: 500; 
     padding: 8px  15px;
     border-radius: 5px;
     transition: all 0.3s ease;
}

.menu ul li a:hover
{
    background-color: antiquewhite ;
    color: black;
}

.img
{
    background: url('../img/images\ \(17\).jpeg') no-repeat;
    width: 100%;
    height: 100vh;
    background-position:center ; 
    background-size: 100% 100% ;
    position: relative;
}

.img::before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.center
{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    padding: 0 20px;
    text-align: center;

}

.center .title
{
    color: antiquewhite;
    font-size: 3rem;
    font-weight: 700;

}

.center .sub_title
{
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 600;
}


.center .buttons
{
    margin-top: 4%;
}

.center .buttons button
{
    width: 15%; 
    border-radius: 5px;
    border: 2P solid antiquewhite;
    margin: 0% 1%;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1% 2%;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .buttons button:first-child
{
    color: antiquewhite;
    background: none;
}

.center .buttons button:first-child:hover
{
    background: antiquewhite;
    color: black;
}

@media screen and (max-width: 800px)
{
    nav .menu
    {
        max-width: 100%;
        padding: 0 7px;
    }

        .menu .logo a
    {
        font-size: 1rem;

    }
    .menu ul li a
    {
         padding: 8px  9px;
         font-size: 0.5rem;

    }
        .center .title
    {
        font-size: 2rem;
    }

    .center .sub_title
    {
        font-size: 1rem;
    }
    
    .center .buttons button
    {
        width: 50%; 
        font-size: 1rem;
    }


}